<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container flex">


        <div class="d-flex justify-content-between mt-4">
          <div><h2> <a href="/admin" style="text-decoration:none;">e-Commerce Admin</a></h2></div>
          <div class="text text-success"> <a href="/admin/logout" class="text text-danger">Logout</a></div>

        </div>
        
        <hr class="mt-2 mb-5">

        <div class="d-flex justify-content-between mt-4">
          <div><h2  class="text text-primary mb-4">Add Product</h2></div>
      </div>

    <form method="post" action="/admin/addProduct" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="name" class="form-control" required name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input type="number" class="form-control" required name="price" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label class="form-label">Choose Image</label>
            <input type="file" class="form-control" name="image" required  accept="image/png, image/gif, image/jpeg" id="exampleInputPassword1">
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

</body>

</html>